*{
    text-align: center;
}
  
body{
    font-family: "Roboto Mono", monospace;
    min-height: 400px;
    background-image: url("https://www.alura.com.br/assets/img/imersoes/dev-2021/tabela-classificacao-bg.png");
    background-color: #111;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
  
table{
    border: 2px solid white;
    border-collapse: collapse;
}
  
h1{
    color: white;
}
  
th,
tr,
td{
    border: solid 1px white;
    color: white;
}
  
button{
    background-color: #002351;
    color: #f6f6f6;
}

table{
    width: 100%;
}


@media screen and (max-width: 480px){
    .content{
        width: 94%;
        margin-left: 10px;
    }
    table thead{display:none;}
    table tbody td{display: flex; flex-direction: column; }
}

@media only screen and (min-width: 1200px){
    .content{width:100%;}
    table tbody tr td:nth-child(1){width:10%;}
    table tbody tr td:nth-child(2){width:30%;}
    table tbody tr td:nth-child(3){width:20%;}
    table tbody tr td:nth-child(4){width:10%;}
    table tbody tr td:nth-child(5){width:30%;}
}